html, body{
  background: linear-gradient(135deg, #f7f3ef, #e8dfd8);
  height: 100%;
  margin: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search{
  margin-top: 20px;
  display: flex;
}

#add-button{
  height: 40px;
  cursor: pointer;
}

#add-button img {
  width: 20px;
}